$background-color-brius: rgb(69, 87, 244);
$background-color-text: white;
$background-color-form: white;
$background-color-button: #000;
$font-default: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
$font-card: arial;
$box-shadow-card: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
$width-card: 300px;
$height-card: 570px;
$text-align-card: center;
$background-color-card: aliceblue;
$border-radius-card: 4px;
$color-button: rgb(255, 255, 255);