body {
    text-align: center;
    background-color: $background-color-brius;
    font-size: 20px;
    font-family: $font-default;
}

img{
    border-radius: 4px;
    margin-top: 20px;
    width: 240px;
    height: 250px;
}

button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: $color-button;
    background-color: $background-color-button;
    text-align: center;
    cursor: pointer;
    width: 80%;
    font-size: 18px;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;

    &:hover {
        background-color: rgb(177, 185, 255);
        opacity: 0.7;
    }
}

a {
    text-decoration: none;
    font-size: 22px;
    color: black;

    &:hover {
        opacity: 0.9;
    }
}

p {
    color: rgb(8, 8, 8);
    font-family: $font-default;
    font-weight:700;
}