.main-section-index {
    .container {
        > .primary-title {
            color: $background-color-text;
        }

        > .primary-image {
            .image {
                width: 400px;
                height: 200px;
                text-align: center;
            }
        }

        > .primary-text {
            .text {
                background-color: $background-color-text;
                color: $background-color-brius;
                border-radius: 8px;
                padding: 40px;
                width: 800px;
                height: 300px;
                display: inline-block; 
            }
        }

        > .primary-form {
            .form {
                align-content: center;
                padding: 40px;
                width: 400px;
                height: 200px;
                border-radius: 8px;
                border: 3px solid $background-color-brius;
                background-color: $background-color-form;
                display: inline-block;
                font-weight: 600;
                margin-top: 40px;
                margin-bottom: 40px;
            }
        }
    }
}

.main-section-interns {
    .container {
        .title-interns {
            .title {
                color: white;
                margin-top: 30px;
                margin-bottom: 30px;
            }
        }

        .card-interns {
            .card-daniel {
                @include card(left, $box-shadow-card, $width-card, $height-card, $text-align-card, $font-card, $background-color-card, $border-radius-card, 40px, 0px);
            }

            .card-tiago {
                @include card(left, $box-shadow-card, $width-card, $height-card, $text-align-card, $font-card, $background-color-card, $border-radius-card, 80px, 0px);
            }

            .card-pablo {
                @include card(right, $box-shadow-card, $width-card, $height-card, $text-align-card, $font-card, $background-color-card, $border-radius-card, 0, 40px);
            }

            .card-pedro {
                @include card(right, $box-shadow-card, $width-card, $height-card, $text-align-card, $font-card, $background-color-card, $border-radius-card, 0px, 80px);
            }
        }

        .return-home {
            .button {
                margin-top: 60px;
                margin-bottom: 60px;
                width: 400px;
            }
        }
    }
}

.main-footer {
    .container {
        .text {
            color: black;
        }
    }
}