.main-section-index .container > .primary-title {
  color: white;
}
.main-section-index .container > .primary-image .image {
  width: 400px;
  height: 200px;
  text-align: center;
}
.main-section-index .container > .primary-text .text {
  background-color: white;
  color: #4557f4;
  border-radius: 8px;
  padding: 40px;
  width: 800px;
  height: 300px;
  display: inline-block;
}
.main-section-index .container > .primary-form .form {
  align-content: center;
  padding: 40px;
  width: 400px;
  height: 200px;
  border-radius: 8px;
  border: 3px solid #4557f4;
  background-color: white;
  display: inline-block;
  font-weight: 600;
  margin-top: 40px;
  margin-bottom: 40px;
}

.main-section-interns .container .title-interns .title {
  color: white;
  margin-top: 30px;
  margin-bottom: 30px;
}
.main-section-interns .container .card-interns .card-daniel {
  float: left;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 300px;
  height: 570px;
  text-align: center;
  font-family: arial;
  background-color: aliceblue;
  border-radius: 4px;
  margin-left: 40px;
  margin-right: 0px;
}
.main-section-interns .container .card-interns .card-tiago {
  float: left;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 300px;
  height: 570px;
  text-align: center;
  font-family: arial;
  background-color: aliceblue;
  border-radius: 4px;
  margin-left: 80px;
  margin-right: 0px;
}
.main-section-interns .container .card-interns .card-pablo {
  float: right;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 300px;
  height: 570px;
  text-align: center;
  font-family: arial;
  background-color: aliceblue;
  border-radius: 4px;
  margin-left: 0;
  margin-right: 40px;
}
.main-section-interns .container .card-interns .card-pedro {
  float: right;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 300px;
  height: 570px;
  text-align: center;
  font-family: arial;
  background-color: aliceblue;
  border-radius: 4px;
  margin-left: 0px;
  margin-right: 80px;
}
.main-section-interns .container .return-home .button {
  margin-top: 60px;
  margin-bottom: 60px;
  width: 400px;
}

.main-footer .container .text {
  color: black;
}

body {
  text-align: center;
  background-color: #4557f4;
  font-size: 20px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

img {
  border-radius: 4px;
  margin-top: 20px;
  width: 240px;
  height: 250px;
}

button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 80%;
  font-size: 18px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 600;
}
button:hover {
  background-color: #b1b9ff;
  opacity: 0.7;
}

a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}
a:hover {
  opacity: 0.9;
}

p {
  color: #080808;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 700;
}

/*# sourceMappingURL=style.css.map */
