@mixin text-config($color: $background-color-brius, $padding: 0px, $width: 0px, $height: 0px, $border-radius: 0px, $font-family: $font-default) {
    color: $color;
    padding: $padding;
    width: $width;
    height: $height;
    border-radius: $border-radius;
    font-family: $font-family;
}

@mixin card($float, $box-shadow, $width, $height, $text-align, $font-family: $font-card, $background-color, $border-radius, $margin-left: 0px, $margin-right: 0px) {
    float: $float;
    box-shadow: $box-shadow;
    width: $width;
    height: $height;
    text-align: $text-align;
    font-family: $font-family;
    background-color: $background-color;
    border-radius: $border-radius;
    margin-left: $margin-left;
    margin-right: $margin-right;
}